workflows/My workflow 3 (18).json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4738a5aa-dda0-4b25-8560-c0ace07e9060",
              "leftValue": "={{$node[\"Extract First Name AI\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
              "rightValue": "INVALID",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1680,
        -384
      ],
      "id": "bc1f5e28-256b-421c-9c3b-7ded3a15d7a9",
      "name": "Invalid Name?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "935e25bb-f6a2-4d89-9a16-84fcb5d0fdb9",
              "leftValue": "={{$node[\"Classify Fitness Goal AI\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
              "rightValue": "INVALID",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1680,
        0
      ],
      "id": "3adf9c7a-fe5b-448e-80be-4059121b04ca",
      "name": "Invalid Goal?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd4a2f1b-c186-407e-a8f5-7dffc7ae7fff",
              "leftValue": "={{$node[\"Classify Experience Level AI\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
              "rightValue": "INVALID",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1680,
        384
      ],
      "id": "90c44ffb-2bc1-4dde-9430-92e6f8f512a1",
      "name": "Invalid Level?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs",
          "mode": "list",
          "cachedResultName": "GYM AUTOMATION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "awaiting_trial",
            "phone": "={{$node[\"Normalize Incoming Message\"].json[\"phone\"]}}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1680,
        1264
      ],
      "id": "5501db64-8c10-4553-888a-ca3c3be0c644",
      "name": "Move To Trial Stage",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kb93w7BNF28d0mID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a830317a-9b1c-4b37-9e81-c340876c81c6",
              "leftValue": "={{$node[\"Classify Trial Decision AI\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
              "rightValue": "INVALID",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1680,
        768
      ],
      "id": "39f72249-389f-4354-a979-35c91888f7d8",
      "name": "Check Trial Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"👋 Welcome to Titan Gym 💪\\n\\nWhat’s your first name?\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        -112
      ],
      "id": "43ce7643-2bbd-4a23-9053-7f3f4fd914dd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://gym-ai-agent.com"
            },
            {
              "name": "X-Title",
              "value": "GYM AI AGENT"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a gym experience classifier.\\n\\nClassify the user's gym experience into EXACTLY ONE of these values:\\n\\nBeginner\\nIntermediate\\nAdvanced\\n\\nRules:\\n- Beginner = new to gym, less than 1 year\\n- Intermediate = 1 to 3 years\\n- Advanced = experienced lifter, serious training, advanced gym level, more than 3 years\\n\\nExamples:\\n\\\"I just started\\\" → Beginner\\n\\\"6 months\\\" → Beginner\\n\\\"1 year\\\" → Intermediate\\n\\\"2 years\\\" → Intermediate\\n\\\"3 years\\\" → Intermediate\\n\\\"5 years\\\" → Advanced\\n\\\"training for years\\\" → Advanced\\n\\\"I am advanced\\\" → Advanced\\n\\\"advanced lifter\\\" → Advanced\\n\\\"experienced\\\" → Advanced\\n\\nIf completely unrelated or unclear return:\\nINVALID\\n\\nReturn ONLY the category name.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$json.message}}\"\n    }\n  ],\n  \"max_tokens\": 20,\n  \"temperature\": 0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        384
      ],
      "id": "2dc1268e-a6f8-4360-acc1-cdf538c81d24",
      "name": "Classify Experience Level AI",
      "credentials": {
        "httpBasicAuth": {
          "id": "x4Aln6OrbXgSyfrg",
          "name": "Unnamed credential"
        },
        "httpBearerAuth": {
          "id": "ZF5iyydtBsJ9RuQ0",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$node['Normalize Incoming Message'].json['phone']}}\",\n  \"textMessage\": {\n    \"text\": \"Sorry 😅 I couldn't understand your name.\\n\\nPlease type your name again.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1904,
        -480
      ],
      "id": "65484f60-b15d-40cd-960b-14694407a195",
      "name": "Send Invalid Name"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"Great {{$json.name}} 💪\\n\\nWhat’s your fitness goal?\\n\\n1️⃣ Muscle Gain\\n2️⃣ Fat Loss\\n3️⃣ Strength\\n4️⃣ General Fitness\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2128,
        -288
      ],
      "id": "d0b2924c-9ced-4605-ab6d-a8a96656c1b1",
      "name": "Send Goal Question"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$node['Normalize Incoming Message'].json['phone']}}\",\n  \"textMessage\": {\n    \"text\": \"Please choose a valid option 😊\\n\\n1️⃣ Muscle Gain\\n2️⃣ Fat Loss\\n3️⃣ Strength\\n4️⃣ General Fitness\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1904,
        -96
      ],
      "id": "3f818368-7d4d-44ca-a646-6e1eb43ff5ce",
      "name": "Send Invalid Goal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"Awesome 🔥\\n\\nWhat’s your current fitness level?\\n\\n1️⃣ Beginner\\n2️⃣ Intermediate\\n3️⃣ Advanced\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2128,
        96
      ],
      "id": "92cba990-743c-4f2c-9352-8e87e65ec4a8",
      "name": "Send Experience Question"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$node['Normalize Incoming Message'].json['phone']}}\",\n  \"textMessage\": {\n    \"text\": \"Please choose a valid option 😊\\n\\n1️⃣ Beginner\\n2️⃣ Intermediate\\n3️⃣ Advanced\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1904,
        288
      ],
      "id": "1ffc26f0-38d3-46ff-83b4-540b5178f974",
      "name": "Send Invalid Experience"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"Perfect 💪\\n\\nWe’d love to offer you a FREE trial session at Titan Gym.\\n\\nWould you like to book your free trial?\\n\\nReply:\\nYES\\nor\\nNO\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2128,
        480
      ],
      "id": "f7f331e3-4925-4cc8-a756-fdadda2cebe1",
      "name": "Send Trial Offer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$node['Normalize Incoming Message'].json['phone']}}\",\n  \"textMessage\": {\n    \"text\": \"Please reply with YES or NO 😊\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1904,
        672
      ],
      "id": "2542fbcf-e343-458d-a4d3-4b30ea5b00d5",
      "name": "Send Invalid Trial Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"Awesome 🎉\\n\\nYour free trial request has been submitted successfully.\\n\\nOur team will contact you shortly to schedule your session 💪\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2576,
        864
      ],
      "id": "161bc858-4874-4c53-877d-35ab4b4de13c",
      "name": "Send Trial Confirmation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"No worries 😊\\n\\nIf you ever decide to start your fitness journey, feel free to message us anytime 💪\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2576,
        1056
      ],
      "id": "0ffbfe7d-caed-4b9c-b7cd-d8a77926e122",
      "name": "Send Trial Declined"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://gym-ai-agent.com"
            },
            {
              "name": "X-Title",
              "value": "GYM AI AGENT "
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-4.1-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Classify the user's response into ONE of these exact values:\\n\\nYES\\nNO\\n\\nIf unclear, return:\\nINVALID\\n\\nReturn ONLY the answer.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$json.message}}\"\n    }\n  ],\n  \"max_tokens\": 20,\n  \"temperature\": 0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        768
      ],
      "id": "5d30ab68-af7d-47b3-87ec-337d3669e51c",
      "name": "Classify Trial Decision AI",
      "credentials": {
        "httpBearerAuth": {
          "id": "ZF5iyydtBsJ9RuQ0",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://gym-ai-agent.com"
            },
            {
              "name": "X-title",
              "value": "GYM AI AGENT"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-4.1-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Classify the user's fitness goal into ONE of these exact values:\\n\\nFat Loss\\nMuscle Gain\\nStrength\\nGeneral Fitness\\n\\nIf unclear, return:\\nINVALID\\n\\nReturn ONLY the answer.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message }}\"\n    }\n  ] , \n \"max_tokens\": 20,\n  \"temperature\": 0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        0
      ],
      "id": "f5b9da9e-0161-4de4-8ed4-200d65e6de21",
      "name": "Classify Fitness Goal AI",
      "credentials": {
        "httpBasicAuth": {
          "id": "x4Aln6OrbXgSyfrg",
          "name": "Unnamed credential"
        },
        "httpBearerAuth": {
          "id": "ZF5iyydtBsJ9RuQ0",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://gym-ai-agent.com"
            },
            {
              "name": "X-Title",
              "value": "Gym AI Agent"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Extract ONLY the user's first name.\\n\\nRules:\\n- Return only ONE first name\\n- No punctuation\\n- No extra text\\n- If no valid name exists, return: INVALID\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$json['message']}}\"\n    }\n  ],\n  \"max_tokens\": 10,\n  \"temperature\": 0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        -384
      ],
      "id": "e501bad0-5539-499a-9e84-92a2b1ec26ca",
      "name": "Extract First Name AI",
      "credentials": {
        "httpBasicAuth": {
          "id": "x4Aln6OrbXgSyfrg",
          "name": "Unnamed credential"
        },
        "httpBearerAuth": {
          "id": "ZF5iyydtBsJ9RuQ0",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1d1f004a-94d2-4062-b604-7dc15da14a4a",
              "leftValue": "={{$json.message.toLowerCase()}}",
              "rightValue": "fees|fee|price|pricing|cost|membership|timing|timings|open|opening|closing|hours|time|location|address|where|near|located|trainer|trainers|personal training|pt|coach|coaches|trial|demo|free session|session",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        672
      ],
      "id": "9ba7f7ee-8825-4364-8d8e-5541bb0ca0cc",
      "name": "Is FAQ Message?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "49b3370a-5103-4b46-bfa9-6a4d3aa99ef9",
              "leftValue": "={{$node[\"Classify Trial Decision AI\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2352,
        960
      ],
      "id": "6dc2cd61-1062-419d-8b24-a9b1518355fe",
      "name": "Did User Accept Trial?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs",
          "mode": "list",
          "cachedResultName": "GYM AUTOMATION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "awaiting_goal",
            "name": "={{$node[\"Extract First Name AI\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
            "phone": "={{$node[\"Normalize Incoming Message\"].json[\"phone\"]}}",
            "updated_at": "={{new Date().toISOString()}}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "membership",
              "displayName": "membership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "followup_sent",
              "displayName": "followup_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "human_support",
              "displayName": "human_support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "converted",
              "displayName": "converted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        -288
      ],
      "id": "b3b532c0-fa86-4dd2-80ba-9ac738d66404",
      "name": "Save Name",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kb93w7BNF28d0mID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs",
          "mode": "list",
          "cachedResultName": "GYM AUTOMATION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{$node[\"Normalize Incoming Message\"].json[\"phone\"]}}",
            "state": "awaiting_level",
            "goal": "={{$node[\"Classify Fitness Goal AI\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
            "updated_at": "={{new Date().toISOString()}}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "membership",
              "displayName": "membership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "followup_sent",
              "displayName": "followup_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "human_support",
              "displayName": "human_support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "converted",
              "displayName": "converted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        96
      ],
      "id": "f68f2a6c-2d7a-4162-b366-6abf604ad28d",
      "name": "Save Goal",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kb93w7BNF28d0mID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs",
          "mode": "list",
          "cachedResultName": "GYM AUTOMATION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{$node[\"Normalize Incoming Message\"].json[\"phone\"]}}",
            "level": "={{$node[\"Classify Experience Level AI\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
            "state": "awaiting_trial",
            "updated_at": "={{new Date().toISOString()}}",
            "lead_status": "interested"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "membership",
              "displayName": "membership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "followup_sent",
              "displayName": "followup_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "human_support",
              "displayName": "human_support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "converted",
              "displayName": "converted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        480
      ],
      "id": "98e5fd6e-49fe-4d70-8063-a938c73e5eb6",
      "name": "Save Experience Level",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kb93w7BNF28d0mID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs",
          "mode": "list",
          "cachedResultName": "GYM AUTOMATION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{$node[\"Normalize Incoming Message\"].json[\"phone\"]}}",
            "state": "completed",
            "lead_status": "trial_booked",
            "updated_at": "={{new Date().toISOString()}}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "membership",
              "displayName": "membership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "followup_sent",
              "displayName": "followup_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "human_support",
              "displayName": "human_support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "converted",
              "displayName": "converted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        864
      ],
      "id": "fb6e0dd5-a0fe-420a-921f-74c7b4e6d97c",
      "name": "Mark Lead Completed",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kb93w7BNF28d0mID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.state}}",
                    "rightValue": "awaiting_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "62aad4ab-eb4c-44ef-83a9-397f79e3d9e1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_name"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "65ea355e-fccf-40de-bcdd-579187c6f93a",
                    "leftValue": "={{$json.state}}",
                    "rightValue": "awaiting_goal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_goal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c96bc908-da02-483e-acaa-f3d537eb9fad",
                    "leftValue": "={{$json.state}}",
                    "rightValue": "awaiting_level",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_level"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dbefc1b3-28d0-4ced-842d-cd7cc5327243",
                    "leftValue": "={{$json.state}}",
                    "rightValue": "awaiting_trial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_trial"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1232,
        160
      ],
      "id": "6e28becb-f391-4398-b6e7-563ec75ed91b",
      "name": "Route By Conversation State"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.message.toLowerCase()}}",
                    "rightValue": "\\b(fees|fee|price|pricing|cost|membership)\\b",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "fad12f03-e91f-4a05-ae3e-dc027c6b13d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f3a3f4ea-d656-476b-bf19-eb8d7dce6a88",
                    "leftValue": "={{$json.message.toLowerCase()}}",
                    "rightValue": "\\b(timing|timings|open|opening|closing|hours|time)\\b",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ffdbe661-6483-466a-82c3-cbdae714b6ea",
                    "leftValue": "={{$json.message.toLowerCase()}}",
                    "rightValue": "\\b(trainer|trainers|personal training|pt|coach|coaches)\\b",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4f95d9bf-a403-4950-bd24-96930804fd38",
                    "leftValue": "={{$json.message.toLowerCase()}}",
                    "rightValue": "trainer|trainers|personal training|pt",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1232,
        1232
      ],
      "id": "a896b55d-1538-48db-85c7-77a1d34c1053",
      "name": "Route FAQ Intent"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": false
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        480
      ],
      "id": "707e083f-a81f-4c66-9955-646c442acd58",
      "name": "Merge CRM Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "35423726-d0fa-4e16-b5cf-31ba39f162a6",
              "leftValue": "={{$json.state}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        480
      ],
      "id": "5a1870a3-a016-451b-9775-5387ade63820",
      "name": "Is New Lead?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs",
          "mode": "list",
          "cachedResultName": "GYM AUTOMATION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{$json.phone}}",
            "name": "=",
            "state": "awaiting_name",
            "created_at": "={{new Date().toISOString()}}",
            "updated_at": "={{new Date().toISOString()}}",
            "source": "whatsapp",
            "lead_status": "new_lead",
            "followup_sent": "no",
            "human_support": "no",
            "converted": "no"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "membership",
              "displayName": "membership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "followup_sent",
              "displayName": "followup_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "human_support",
              "displayName": "human_support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "converted",
              "displayName": "converted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        -112
      ],
      "id": "4d340f57-3292-44e6-8de4-4c2087732e8f",
      "name": "Create CRM Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kb93w7BNF28d0mID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let phone = '';\n\nconst remoteJid = $json.body.data.key.remoteJid;\n\nif (remoteJid.includes('@s.whatsapp.net')) {\n  phone = remoteJid.replace('@s.whatsapp.net', '');\n}\nelse if (remoteJid.includes('@lid')) {\n  phone = $json.body.sender.replace('@s.whatsapp.net', '');\n}\n\nlet message = '';\n\nif ($json.body?.data?.message?.conversation) {\n  message = $json.body.data.message.conversation;\n}\nelse if ($json.body?.data?.message?.extendedTextMessage?.text) {\n  message = $json.body.data.message.extendedTextMessage.text;\n}\nelse if ($json.body?.data?.message?.imageMessage?.caption) {\n  message = $json.body.data.message.imageMessage.caption;\n}\n\nreturn [\n  {\n    json: {\n      phone,\n      message,\n      raw: $json\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        576
      ],
      "id": "54e281d7-500e-4778-8c08-29a9c6c41337",
      "name": "Normalize Incoming Message"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gym-whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        576
      ],
      "id": "54c65f69-9eac-4475-be1c-df8e16c4ca8b",
      "name": "Webhook",
      "webhookId": "ce2b7342-f0fc-45ab-8cb9-a0325136b160"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs",
          "mode": "list",
          "cachedResultName": "GYM AUTOMATION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "phone",
              "lookupValue": "={{$json.phone}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2128,
        864
      ],
      "id": "ad4dc42a-7025-4575-907c-fb824adb7feb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kb93w7BNF28d0mID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"919876543210\",\n  \"textMessage\": {\n    \"text\": \"🔥 New Trial Lead\\n\\nName: {{$json.name}}\\nPhone: {{$json.phone}}\\nGoal: {{$json.goal}}\\nLevel: {{$json.level}}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2352,
        768
      ],
      "id": "15950618-b2bd-4162-90b5-c6260629e848",
      "name": "Notify Gym Admin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf9faa6f-ac9e-4fb9-86fa-992a5d042eb2",
              "leftValue": "={{$json.message.toLowerCase().match(/trainer|human|call|help|support|contact/) !== null}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        656
      ],
      "id": "5fbeccbf-14ff-4844-88d6-c5691dd58eb2",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"No problem 😊\\n\\nA Titan Gym team member will contact you shortly.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        752
      ],
      "id": "3f97146f-4269-4162-8731-518df70ee349",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"919876543210\",\n  \"textMessage\": {\n    \"text\": \"⚠ Human Support Requested\\n\\nName: {{$json.name || 'Unknown'}}\\nPhone: {{$json.phone}}\\nMessage: {{$json.message}}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        752
      ],
      "id": "84a000c9-2bd1-49e3-9dba-6b7e77ce8552",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs",
          "mode": "list",
          "cachedResultName": "GYM AUTOMATION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "human_support",
            "name": "=",
            "phone": "={{$node[\"Normalize Incoming Message\"].json[\"phone\"]}}",
            "lead_status": "human_support"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "membership",
              "displayName": "membership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "followup_sent",
              "displayName": "followup_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "human_support",
              "displayName": "human_support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "converted",
              "displayName": "converted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        752
      ],
      "id": "c19f98d6-c1c6-4633-b321-29b16e6792ae",
      "name": "Save Name1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kb93w7BNF28d0mID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2352,
        480
      ],
      "id": "fa47d64b-dd93-4968-94ee-cb3efe41fb38",
      "name": "Wait",
      "webhookId": "7e4f5c30-9c11-41ce-9fcd-ee649272a46f"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs",
          "mode": "list",
          "cachedResultName": "GYM AUTOMATION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "phone",
              "lookupValue": "={{$json.phone}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        560
      ],
      "id": "7249a044-11dd-44ff-925e-a36458d9c8fb",
      "name": "Find Existing Lead",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kb93w7BNF28d0mID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs",
          "mode": "list",
          "cachedResultName": "GYM AUTOMATION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "phone",
              "lookupValue": "={{$json.phone}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2576,
        480
      ],
      "id": "70b765b0-1ec2-4d6e-9838-54093ccf9370",
      "name": "Find Existing Lead1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kb93w7BNF28d0mID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "203d2883-1d48-412b-81e9-7babf764c6d7",
              "leftValue": "={{$json.state === \"awaiting_trial\"}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2800,
        480
      ],
      "id": "932a36d8-4766-4875-af30-a8d51e7e68b7",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"Still thinking about starting your fitness journey? 💪\\n\\nYour FREE Titan Gym trial session is still available.\\n\\nReply YES to book now 🔥\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3024,
        480
      ],
      "id": "648c027c-ce3f-43c6-8113-00143ffdf6fc",
      "name": "Send Follow-Up Reminder"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs",
          "mode": "list",
          "cachedResultName": "GYM AUTOMATION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{$node[\"Normalize Incoming Message\"].json[\"phone\"]}}",
            "lead_status": "trial_declined",
            "updated_at": "={{new Date().toISOString()}}",
            "state": "trial_declined"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "membership",
              "displayName": "membership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_sent",
              "displayName": "followup_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "human_support",
              "displayName": "human_support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "converted",
              "displayName": "converted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2800,
        1056
      ],
      "id": "62792351-c768-4393-9ebe-fcb2931d3dda",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kb93w7BNF28d0mID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3248,
        480
      ],
      "id": "0cd6111c-564e-4498-a32f-57bc739b03f9",
      "name": "Wait1",
      "webhookId": "9ce826bd-470a-4ecb-85ab-217df73a2557"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs",
          "mode": "list",
          "cachedResultName": "GYM AUTOMATION",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uw7mBIXZrdcTb8G48ObJO8-AhUPnzSkUUbQ3wmcAhs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "phone",
              "lookupValue": "={{$json.phone}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3472,
        480
      ],
      "id": "08b7351a-f6ef-421f-b88c-1a10a01120bb",
      "name": "Find Existing Lead2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kb93w7BNF28d0mID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "203d2883-1d48-412b-81e9-7babf764c6d7",
              "leftValue": "={{$json.state === \"awaiting_trial\"}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3696,
        480
      ],
      "id": "dcfe6be5-2035-40d6-8494-7ad9ac9fd245",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"Consistency changes everything 💪\\n\\nWe’d love to help you reach your fitness goals at Titan Gym.\\n\\nWant to claim your FREE trial session?\\nReply YES 🔥\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3920,
        480
      ],
      "id": "af7aa85e-95bc-4404-b0cd-2597b12b8611",
      "name": "Send Follow-Up Reminder1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"🕒 Titan Gym Timings\\n\\nOpen Daily:\\n6:00 AM — 11:00 PM\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        960
      ],
      "id": "ba20af0b-43ac-496a-8fa9-f72de26204cb",
      "name": "Send Timings FAQ"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"🕒 Titan Gym Timings\\n\\nOpen Daily:\\n6:00 AM — 11:00 PM\\n\\nFlexible workout hours available for students and working professionals 💪\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        1152
      ],
      "id": "4cc0ec88-d17a-47d8-8e86-17d8dea96cc4",
      "name": "Send Location FAQ"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"📍 Titan Gym Location\\n\\nRaj Nagar Extension, Ghaziabad\\n\\nWould you like directions or a FREE trial session? 💪\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        1344
      ],
      "id": "14ee91b4-35ed-4aec-a419-fdc30830a712",
      "name": "Send Pricing FAQ"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/gym_ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "123456"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.phone}}\",\n  \"textMessage\": {\n    \"text\": \"🏋️ Certified Trainers Available\\n\\n✔ Fat Loss\\n✔ Muscle Gain\\n✔ Strength Training\\n✔ Personal Training\\n\\nOur trainers will guide you based on your goals 💪\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        1536
      ],
      "id": "a4f63041-df9d-4ff6-a8bc-d5f6a7419396",
      "name": "Send Trainers FAQ"
    }
  ],
  "pinData": {},
  "connections": {
    "Invalid Name?": {
      "main": [
        [
          {
            "node": "Send Invalid Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Goal?": {
      "main": [
        [
          {
            "node": "Send Invalid Goal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Goal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Level?": {
      "main": [
        [
          {
            "node": "Send Invalid Experience",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Experience Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Trial Response": {
      "main": [
        [
          {
            "node": "Send Invalid Trial Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Lead Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Classify Experience Level AI": {
      "main": [
        [
          {
            "node": "Invalid Level?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Trial Confirmation": {
      "main": [
        []
      ]
    },
    "Classify Trial Decision AI": {
      "main": [
        [
          {
            "node": "Check Trial Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Fitness Goal AI": {
      "main": [
        [
          {
            "node": "Invalid Goal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract First Name AI": {
      "main": [
        [
          {
            "node": "Invalid Name?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is FAQ Message?": {
      "main": [
        [
          {
            "node": "Route FAQ Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route By Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did User Accept Trial?": {
      "main": [
        [
          {
            "node": "Send Trial Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Trial Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Name": {
      "main": [
        [
          {
            "node": "Send Goal Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Goal": {
      "main": [
        [
          {
            "node": "Send Experience Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Experience Level": {
      "main": [
        [
          {
            "node": "Send Trial Offer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Lead Completed": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Conversation State": {
      "main": [
        [
          {
            "node": "Extract First Name AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify Fitness Goal AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify Experience Level AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify Trial Decision AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route FAQ Intent": {
      "main": [
        [
          {
            "node": "Send Timings FAQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Location FAQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Pricing FAQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Trainers FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge CRM Data": {
      "main": [
        [
          {
            "node": "Is New Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Lead?": {
      "main": [
        [
          {
            "node": "Create CRM Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is FAQ Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CRM Lead": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Incoming Message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge CRM Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Notify Gym Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Did User Accept Trial?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Gym Admin": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Existing Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Save Name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Trial Offer": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Find Existing Lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Lead": {
      "main": [
        [
          {
            "node": "Merge CRM Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Lead1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send Follow-Up Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Trial Declined": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-Up Reminder": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Find Existing Lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Lead2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send Follow-Up Reminder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Timings FAQ": {
      "main": [
        [
          {
            "node": "Move To Trial Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Location FAQ": {
      "main": [
        [
          {
            "node": "Move To Trial Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Pricing FAQ": {
      "main": [
        [
          {
            "node": "Move To Trial Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Trainers FAQ": {
      "main": [
        [
          {
            "node": "Move To Trial Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cbb62e09-0ee0-4ee2-8b4f-6ea455a913db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa44c9fe123bdb942e594f449902aa7d16675713e2685df30e9395c56c908b70"
  },
  "id": "K0b3BPb027rDyZ2w",
  "tags": []
}